rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Calling CRM collections
    match /leads/{leadId} {
      allow read, write: if true;
    }
    match /customers/{customerId} {
      allow read, write: if true;
    }
    match /call_logs/{logId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
